/* Bootstrap-like Grid System */

/* Breakpoints */
:root {
    --grid-breakpoint-xs: 0;
    --grid-breakpoint-sm: 576px;
    --grid-breakpoint-md: 768px;
    --grid-breakpoint-lg: 992px;
    --grid-breakpoint-xl: 1200px;
    --grid-breakpoint-xxl: 1400px;
    
    --grid-columns: 12;
    --grid-gutter-sm: 8px;
    --grid-gutter-md: 16px;
    --grid-gutter-lg: 24px;
}

/* Container */
.grid-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.grid-container-fluid {
    max-width: none;
}

/* Container max-widths at breakpoints */
@media (min-width: 576px) {
    .grid-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .grid-container {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 992px) {
    .grid-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .grid-container {
        max-width: 1320px;
    }
}

/* Row */
.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter-md) * -0.5);
    margin-right: calc(var(--grid-gutter-md) * -0.5);
    box-sizing: border-box;
}

.grid-row-gutter-none {
    margin-left: 0;
    margin-right: 0;
}

.grid-row-gutter-none > .grid-col {
    padding-left: 0;
    padding-right: 0;
}

.grid-row-gutter-sm {
    margin-left: calc(var(--grid-gutter-sm) * -0.5);
    margin-right: calc(var(--grid-gutter-sm) * -0.5);
}

.grid-row-gutter-sm > .grid-col {
    padding-left: calc(var(--grid-gutter-sm) * 0.5);
    padding-right: calc(var(--grid-gutter-sm) * 0.5);
}

.grid-row-gutter-md > .grid-col {
    padding-left: calc(var(--grid-gutter-md) * 0.5);
    padding-right: calc(var(--grid-gutter-md) * 0.5);
}

.grid-row-gutter-lg {
    margin-left: calc(var(--grid-gutter-lg) * -0.5);
    margin-right: calc(var(--grid-gutter-lg) * -0.5);
}

.grid-row-gutter-lg > .grid-col {
    padding-left: calc(var(--grid-gutter-lg) * 0.5);
    padding-right: calc(var(--grid-gutter-lg) * 0.5);
}

/* Column base */
.grid-col {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: calc(var(--grid-gutter-md) * 0.5);
    padding-right: calc(var(--grid-gutter-md) * 0.5);
}

/* Column sizes - Extra Small (xs) - default */
.grid-col-xs-1 { flex: 0 0 auto; width: calc(100% * 1 / var(--grid-columns)); }
.grid-col-xs-2 { flex: 0 0 auto; width: calc(100% * 2 / var(--grid-columns)); }
.grid-col-xs-3 { flex: 0 0 auto; width: calc(100% * 3 / var(--grid-columns)); }
.grid-col-xs-4 { flex: 0 0 auto; width: calc(100% * 4 / var(--grid-columns)); }
.grid-col-xs-5 { flex: 0 0 auto; width: calc(100% * 5 / var(--grid-columns)); }
.grid-col-xs-6 { flex: 0 0 auto; width: calc(100% * 6 / var(--grid-columns)); }
.grid-col-xs-7 { flex: 0 0 auto; width: calc(100% * 7 / var(--grid-columns)); }
.grid-col-xs-8 { flex: 0 0 auto; width: calc(100% * 8 / var(--grid-columns)); }
.grid-col-xs-9 { flex: 0 0 auto; width: calc(100% * 9 / var(--grid-columns)); }
.grid-col-xs-10 { flex: 0 0 auto; width: calc(100% * 10 / var(--grid-columns)); }
.grid-col-xs-11 { flex: 0 0 auto; width: calc(100% * 11 / var(--grid-columns)); }
.grid-col-xs-12 { flex: 0 0 auto; width: 100%; }
.grid-col-xs-auto { flex: 0 0 auto; width: auto; }

/* Column sizes - Small (sm) - 576px and up */
@media (min-width: 576px) {
    .grid-col-sm-1 { flex: 0 0 auto; width: calc(100% * 1 / var(--grid-columns)); }
    .grid-col-sm-2 { flex: 0 0 auto; width: calc(100% * 2 / var(--grid-columns)); }
    .grid-col-sm-3 { flex: 0 0 auto; width: calc(100% * 3 / var(--grid-columns)); }
    .grid-col-sm-4 { flex: 0 0 auto; width: calc(100% * 4 / var(--grid-columns)); }
    .grid-col-sm-5 { flex: 0 0 auto; width: calc(100% * 5 / var(--grid-columns)); }
    .grid-col-sm-6 { flex: 0 0 auto; width: calc(100% * 6 / var(--grid-columns)); }
    .grid-col-sm-7 { flex: 0 0 auto; width: calc(100% * 7 / var(--grid-columns)); }
    .grid-col-sm-8 { flex: 0 0 auto; width: calc(100% * 8 / var(--grid-columns)); }
    .grid-col-sm-9 { flex: 0 0 auto; width: calc(100% * 9 / var(--grid-columns)); }
    .grid-col-sm-10 { flex: 0 0 auto; width: calc(100% * 10 / var(--grid-columns)); }
    .grid-col-sm-11 { flex: 0 0 auto; width: calc(100% * 11 / var(--grid-columns)); }
    .grid-col-sm-12 { flex: 0 0 auto; width: 100%; }
    .grid-col-sm-auto { flex: 0 0 auto; width: auto; }
}

/* Column sizes - Medium (md) - 768px and up */
@media (min-width: 768px) {
    .grid-col-md-1 { flex: 0 0 auto; width: calc(100% * 1 / var(--grid-columns)); }
    .grid-col-md-2 { flex: 0 0 auto; width: calc(100% * 2 / var(--grid-columns)); }
    .grid-col-md-3 { flex: 0 0 auto; width: calc(100% * 3 / var(--grid-columns)); }
    .grid-col-md-4 { flex: 0 0 auto; width: calc(100% * 4 / var(--grid-columns)); }
    .grid-col-md-5 { flex: 0 0 auto; width: calc(100% * 5 / var(--grid-columns)); }
    .grid-col-md-6 { flex: 0 0 auto; width: calc(100% * 6 / var(--grid-columns)); }
    .grid-col-md-7 { flex: 0 0 auto; width: calc(100% * 7 / var(--grid-columns)); }
    .grid-col-md-8 { flex: 0 0 auto; width: calc(100% * 8 / var(--grid-columns)); }
    .grid-col-md-9 { flex: 0 0 auto; width: calc(100% * 9 / var(--grid-columns)); }
    .grid-col-md-10 { flex: 0 0 auto; width: calc(100% * 10 / var(--grid-columns)); }
    .grid-col-md-11 { flex: 0 0 auto; width: calc(100% * 11 / var(--grid-columns)); }
    .grid-col-md-12 { flex: 0 0 auto; width: 100%; }
    .grid-col-md-auto { flex: 0 0 auto; width: auto; }
}

/* Column sizes - Large (lg) - 992px and up */
@media (min-width: 992px) {
    .grid-col-lg-1 { flex: 0 0 auto; width: calc(100% * 1 / var(--grid-columns)); }
    .grid-col-lg-2 { flex: 0 0 auto; width: calc(100% * 2 / var(--grid-columns)); }
    .grid-col-lg-3 { flex: 0 0 auto; width: calc(100% * 3 / var(--grid-columns)); }
    .grid-col-lg-4 { flex: 0 0 auto; width: calc(100% * 4 / var(--grid-columns)); }
    .grid-col-lg-5 { flex: 0 0 auto; width: calc(100% * 5 / var(--grid-columns)); }
    .grid-col-lg-6 { flex: 0 0 auto; width: calc(100% * 6 / var(--grid-columns)); }
    .grid-col-lg-7 { flex: 0 0 auto; width: calc(100% * 7 / var(--grid-columns)); }
    .grid-col-lg-8 { flex: 0 0 auto; width: calc(100% * 8 / var(--grid-columns)); }
    .grid-col-lg-9 { flex: 0 0 auto; width: calc(100% * 9 / var(--grid-columns)); }
    .grid-col-lg-10 { flex: 0 0 auto; width: calc(100% * 10 / var(--grid-columns)); }
    .grid-col-lg-11 { flex: 0 0 auto; width: calc(100% * 11 / var(--grid-columns)); }
    .grid-col-lg-12 { flex: 0 0 auto; width: 100%; }
    .grid-col-lg-auto { flex: 0 0 auto; width: auto; }
}

/* Column sizes - Extra Large (xl) - 1200px and up */
@media (min-width: 1200px) {
    .grid-col-xl-1 { flex: 0 0 auto; width: calc(100% * 1 / var(--grid-columns)); }
    .grid-col-xl-2 { flex: 0 0 auto; width: calc(100% * 2 / var(--grid-columns)); }
    .grid-col-xl-3 { flex: 0 0 auto; width: calc(100% * 3 / var(--grid-columns)); }
    .grid-col-xl-4 { flex: 0 0 auto; width: calc(100% * 4 / var(--grid-columns)); }
    .grid-col-xl-5 { flex: 0 0 auto; width: calc(100% * 5 / var(--grid-columns)); }
    .grid-col-xl-6 { flex: 0 0 auto; width: calc(100% * 6 / var(--grid-columns)); }
    .grid-col-xl-7 { flex: 0 0 auto; width: calc(100% * 7 / var(--grid-columns)); }
    .grid-col-xl-8 { flex: 0 0 auto; width: calc(100% * 8 / var(--grid-columns)); }
    .grid-col-xl-9 { flex: 0 0 auto; width: calc(100% * 9 / var(--grid-columns)); }
    .grid-col-xl-10 { flex: 0 0 auto; width: calc(100% * 10 / var(--grid-columns)); }
    .grid-col-xl-11 { flex: 0 0 auto; width: calc(100% * 11 / var(--grid-columns)); }
    .grid-col-xl-12 { flex: 0 0 auto; width: 100%; }
    .grid-col-xl-auto { flex: 0 0 auto; width: auto; }
}

/* Utility classes for flex alignment */
.grid-row-align-start {
    align-items: flex-start;
}

.grid-row-align-center {
    align-items: center;
}

.grid-row-align-end {
    align-items: flex-end;
}

.grid-row-justify-start {
    justify-content: flex-start;
}

.grid-row-justify-center {
    justify-content: center;
}

.grid-row-justify-end {
    justify-content: flex-end;
}

.grid-row-justify-between {
    justify-content: space-between;
}

.grid-row-justify-around {
    justify-content: space-around;
}

